#content {
    float:none;
    width:770px;
    padding:15px 310px 10px 115px;
    @media screen and (max-width:1200px) {
            padding:0 25;
            width:90%;
        }
    img {
        width:775px;
        margin:0;
        @media screen and (max-width:1200px){
            width:100%;
            height:auto;
        }
    }
    li img {
       width:500px;
       margin:auto;
       padding:25 75;
   }
   td {
       padding:15;
       color: $color-body;
       @media screen and (max-width:720px) {
           font-size:.8em;
           margin-left:0;
           padding:10px;
      }
   }
   th {
       text-align:left;
       padding:15px;
       font-weight:$font-bold;
       color: $color-body;
       @media screen and (max-width:720px)  {
           font-size:.8em;
           padding:10px
       }
   }
   .title p {
       font-family: $fontfamily-headings;
       margin:0;
       padding:10 0;
   }
   ul {
       list-style:none;
   }
}
#words {
    float:right;
    clear:both;
    padding:55px 400px 0 0;
    @media screen and (max-width:1200px) {
         float:right;
         padding:45px 70px 0 0;
         margin:0;
     }
    @media screen and (max-width:720px) {
         font-size:62.5%;
         width:115px;
         padding:10px 0 10px 0;
     }
}
.year {
    font-weight: $font-bold;
}
