nav {
    clear:both;
    background-color:$color-fill;
    width:1200px;
    width: 100%;
    @media screen and (max-width:720px) {
      height:110px;
    }
    a {
        color:white;
        font-size:2.1em;
        text-decoration:none;
        letter-spacing:.5px;
    }
    li {
          list-style:none;
          float:left;
          padding-left:30px;
          padding-right:30px;
          padding-top:10px;
          padding-bottom:10px;
          text-transform: $text-lowercase;
          @media screen and (max-width:720px) {
              font-size:.6em ;
              padding-left:15px;
              padding-top:6px;
              padding-bottom:6px;
              margin:0;
              width:320px;
          }
    }
    ul {
        padding-left:0;
    }
}
nav:after {
    clear:both;
    display: block;
    content:"";
}
