$color-fill: #15485e;
$color-body: #022737;
$color-hyperlink: #d0c7bb;
$fontfamily-headings: 'Lato', sans-serif;
$fontfamily-body: 'PT Serif', serif;
$font-body: 1.4em;
$font-bold: 800;
$font-semibold: 600;
$main-heading-font: 3.2em;
$text-lowercase: lowercase;
